:root {
  --font-family: "Smythe", cursive;
  --second-family: "Inter", sans-serif;
  --third-family: "Verdana", sans-serif;
  --font3: "Karla", sans-serif;

  --card-width: 508px;
  --main-width: 600px;
  --bg-page: #f0f0f0;
  --bg-container: #fffeea;
  --color-primary: rgb(253, 80, 0);
  --color-secondary: rgb(0, 130, 252);
  --color-grey: #8b8b8b;
  --color-border: #dedede;
}

body {
  background-color: var(--bg-page);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: var(--main-width);
  background-color: var(--bg-container);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header {
  margin-top: 16px;
  width: 100%;
}

h1 {
  margin: 10px;
  font-family: var(--font-family);
  font-size: 48px;
  color: var(--color-primary);
}

#sea {
  color: var(--color-secondary);
}

h2 {
  font-family: var(--font-family);
  font-size: 36px;
  margin: 30px 0;
}

.card,
hr {
  width: var(--card-width);
}

.card {
  padding: 25px 0;
}

.card_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.card_img {
  width: 80px;
  height: auto;
}

.product_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product_name,
h1,
h2 {
  font-family: var(--font-family);
}

.product_name {
  font-size: 28px;
  margin: 0;
}

.product_ingredients,
.product_price {
  font-family: var(--second-family);
  margin: 0;
}

.product_ingredients {
  font-size: 14px;
  color: var(--color-grey);
}

.product_price {
  font-size: 20px;
}

.add_button {
  margin-left: auto;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_button img {
  width: 20px;
}

hr {
  border: none;
  border-bottom: 1px solid;
}
