:root {
  --font-family: "Smythe", cursive;
  --second-family: "Inter", sans-serif;
  --third-family: "Verdana", sans-serif;
  --font3: "Karla", sans-serif;

  --card-width: 508px;
  --main-width: 600px;
  --bg-page: #f0f0f0;
  --bg-container: #fffeea;
  --color-primary: rgb(253, 80, 0);
  --color-secondary: rgb(0, 130, 252);
  --color-grey: #8b8b8b;
  --color-border: #dedede;
}

body {
  background-color: var(--bg-page);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: var(--main-width);
  background-color: var(--bg-container);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header {
  margin-top: 16px;
  width: 100%;
}

h1 {
  margin: 10px;
  font-family: var(--font-family);
  font-size: 48px;
  color: var(--color-primary);
}

#sea {
  color: var(--color-secondary);
}

h2 {
  font-family: var(--font-family);
  font-size: 36px;
  margin: 30px 0;
}

#order_header {
  color: var(--color-primary);
}

.card,
hr,
.order-items,
.total_price {
  width: var(--card-width);
}

.card {
  padding: 25px 0;
}

.card_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.card_img {
  width: 80px;
  height: auto;
}

.product_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkout-text {
  font-family: var(--second-family);
  font-size: 24px;
  margin: 18px 0 0 0;
}

input {
  width: 475px;
  height: 71px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 156%;
  color: #757575;
  border: 1.3px solid #757575;
  border-radius: 4px;
  padding-left: 18px;
}

.product_name,
h1,
h2,
.total-price {
  font-family: var(--font-family);
}

.product_name {
  font-size: 28px;
  margin: 0;
}

.total-price {
  font-size: 36px;
}

.product_ingredients,
.product_price {
  font-family: var(--second-family);
  margin: 0;
}

.product_ingredients {
  font-size: 14px;
  color: var(--color-grey);
}

.product_price {
  font-size: 20px;
}

.order_element,
.total_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add_button {
  margin-left: auto;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add_button img {
  width: 20px;
}

.remove-btn {
  margin-left: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #ff0000;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.complete_order,
.pay_button {
  border-radius: 6px;
  border: none;
  padding: 13px 25px;
  width: 508px;
  height: 60px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #16db99;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 16px;
  cursor: pointer;
}

.pay_button {
  width: 475px;
  height: 71px;
}

.checkout-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 524px;
  height: 542px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 5px 5px 255px 0 rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.thanks-window {
  text-align: center;
  display: flex;
  margin: 32px auto 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 504px;
  height: 120px;
  background: #ecfdf5;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #065f46;
  border-radius: 6px;
}

hr {
  border: none;
  border-bottom: 1px solid;
}

.hidden {
  display: none !important;
}

.strong_bold {
  font-weight: 700;
  font-size: 24px;
}
